


<form action="<%=session_url%>" method="POST">
    <%=auth_token%>

    <label >
    <input type="text" name="user[email]" value="email">
    Email
    </label>

    <label >
    <input type="text"name="user[password]" value="password">
    Password 
    </label>

    <input type="submit" value="Log in">


</form>