/* PHASE 1: Header */

body {

  font-family: sans-serif;
  font-weight: 700;
  font-size: 24px;
  background-color: #eee;
  border-width: 1px;


}

.header {
  background-color: #f00;
  border-bottom: #eee;
  border-width: 1px;
  color: white;



}

.header a {
  display: block;
  padding: 15px;

}

.header-nav {
  border-width: 1px;
  width: 900px;
  margin: auto;
  border-left-color: #eee;
  border-right-color: #eee;
}