/* PHASE 2: Navigation */

.header-logo {
    float: left;
    font-weight: bold;
    border-width: 1px;
    border-right-color: #eee;
}

.header-logo:hover {
    background-color: black;

}

.header-list {
    float: right;

}

.header-list > li {
    float: left;
    border-left-color: #eee;
    border-width: 1px;

}

.header-list > li:hover {
    background-color: black;
}