<form action="<%=bands_url%>" method="POST" >
    <%auth_token%>
    <label >
    <input type="text" name="band[name]" value="name">
        Band
    </label>

    <input type="submit" value="Submit New Band">



</form>